<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title><%= title %> - Microblog</title>
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <style type="text/css">
  </style>
</head>
<body>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Microblog</a>
          </div>
          
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                 <a href="/">首页</a>
              </li>
              <li>
                 <a href="/login">登入</a>
              </li>
              <li class="active">
                 <a href="/reg">注册</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

     <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="alert alert-danger" style="display:none;">
            error Message.
        </div> 
        <div class="row clearfix">
          <div class="col-md-4 column">
          </div>
          <div class="col-md-4 column">
            <form role="form" method="post" action="/doReg">
              <div class="form-group">
                 <label for="username">用户名</label><input type="text" class="form-control" id="username" name="username"/>
              </div>
              <div class="form-group">
                 <label for="password">密码</label><input type="password" class="form-control" id="password" name="password"/>
              </div>
              <div class="form-group">
                 <label for="rePassword">重复输入密码</label><input type="password" class="form-control" id="rePassword" name="rePassword"/>
              </div>
              <button type="submit" class="btn btn-primary">注册</button>
            </form>
          </div>
          <div class="col-md-4 column">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>